.search-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input[type='text'] {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input[type='text']:hover {
  border-color: black;
}

input[type='text']:active,
input[type='text']:focus {
  border-color: rgba(78, 117, 255, 1);
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #4a7aff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(108, 140, 255, 1);
}
.loader {
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
}
.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
